{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row">
<h1>Jamb Online</h1>
<h3>Check your result</h3>
<div class="alert alert-block">
	<p>
		
		<br /><br />
		Welcome {{target}}, you logged in @ {{time}}
	</p>
</div>
	<br />
</div>
<div class="row">
<ul class="nav nav-list pull-left">
<li>
<a href="/">Home</a>
</li>
<li class="active">
<a href="admin">Administrator Login</a>
</li>
</ul>
<div class="span4">
</div>
<div class="span8">
<p><strong>Kindly Note: If you have not run the db.sql file in the database folder, please do so before running any commands here!
Also, kindly ensure you run this commands sequencetially in other to generate the appropriate data!"
</strong></p>
<ul class="nav nav-list pull-left">
<li><a href="datagen">Generate students dummy data to populate the database</a></li>
<li><a href="scratchcardgen">Buy a scratch card and pin here</a></li>
<li
</div>
</div>
</div>
{% endblock content %}