{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row">
<h1>Jamb Online</h1>
<h3>Check your result</h3>
<div class="alert alert-block">
	<p>
		<strong>How it works</strong>
		<br /><br />
		To check your examination result, enter your registration number, select your examination year and your 4-Digit PIN.
Kindly read the README.txt file that came with the source to get a trial registration number and PIN.
	</p>
</div>
	<br />
</div>
<div class="row">
<ul class="nav nav-list pull-left">
<li>
<a href="/">Home</a>
</li>
<li>
<a href="admin">Administrator Login</a>
</li>
<li>
<a href="pin">Generate PIN</a>
</li>
</ul>
<div class="span4">
</div>
<div class="span8">
	
</div>
</div>
{% endblock content %}


